<div class="container">
  <div class="jumbotron">
    <h3>Manage Tools</h3>
    <% if can? :create, Tool %>
      <p><%= link_to 'New Tool', new_tool_path %></p>
    <% end %>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @tools.each do |tool| %>
              <tr>
                <td><%= tool.name %></td>
                <td><%= link_to 'Show', tool, class: "btn btn-default" %></td>
                <td>
                  <% if can? :update, Tool %>
                    <%= link_to 'Edit', edit_tool_path(tool), class: "btn btn-default" %>
                  <% end %>
                </td>
                <td>
                  <% if can? :destroy, Tool %>
                    <%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"%>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
