<div class="container">
  <div class="jumbotron">
    <h3>Manage Positions</h3>
    <% if can? :create, Position %> 
      <p><%= link_to 'New Position', new_position_path %></p>
    <% end %>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @positions.each do |position| %>
              <tr>
                <td><%= position.name %></td>
                <td><%= link_to 'View', position, class: "btn btn-default" %></td>
                <td>
                  <% if can? :update, Position %>
                    <%= link_to 'Edit', edit_position_path(position), class: "btn btn-default" %>
                  <% end %>
                </td>
                <td>
                  <% if can? :destroy, Position %>
                    <%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

      
