<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="row col-lg-10 col-lg-offset-1 alert alert-info first-item"id="error_explanation">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-xs-12 col-md-4">
      <%= f.label :username %><br>
      <%= f.text_field :username, class: "form-control", autofocus: true, placeholder:"User Name"  %>
    </div>
    
    <div class="form-group col-xs-12 col-md-4">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "form-control", placeholder:"User Email" %>
    </div>

    <div class="form-group col-xs-12 col-md-4">
      <%= f.label :team %><br>
      <%= f.text_field :team, class: "form-control", autofocus: true, placeholder:"Team"  %>
    </div>

    <% if current_user.admin? %>
      <div class="form-group col-xs-12 col-md-4">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %></br>
        <% if current_user == @user %>
          <small id="pwHelp" class="form-text text-muted">After changing your password, you will be asked to log in with your new password</small>
        <% end %>
      </div>

      <div class="form-group col-xs-12 col-md-4">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group col-xs-12 col-md-4">
        <%= f.label :admin %><br />
        <%= f.check_box :admin, {:checked=>false} %>
      </div>
    <% else %>
      <div class="form-group col-xs-12 col-md-6">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %></br>
      </div>

      <div class="form-group col-xs-12 col-md-6">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    <% end %>
  </div>   
  <div class="row center">
    
  </div>

  <div class="form-group right">
    <%= f.submit "Save", class: "btn btn-success btn-lg" %>
  </div> 
 
<% end %>
