<%= form_for(offense) do |f| %>
  <% if offense.errors.any? %>
    <div class="row col-lg-10 col-lg-offset-1 alert alert-info first-item" id="error_explanation">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h2><%= pluralize(offense.errors.count, "error") %> prohibited this offense from being saved:</h2>

      <ul>
      <% offense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-xs-12 col-md-4">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control", autofocus: true, placeholder:"Name this Offense"  %>
    </div>
    <div class="form-group col-xs-12 col-md-2">
      <%= f.label "Type" %><br>
      <%= f.select :situation, ['6v6', 'EMO', 'Inbounds'], {}, class: "form-control", autofocus: true %>
    </div>
    <div class="form-group col-xs-12 col-md-2">
      <%= f.label :formation %><br>
      <%= f.select :formation, ['2-3-1', '1-4-1', '2-2-2', '1-3-2', '3-1-2', '3-2-1', '4-2', '3-3', '3-3 Open', '2-2-2 Open'], {}, class: "form-control", autofocus: true %>
    </div>
    <div class="form-group col-xs-12 col-md-4">
      <%= f.label "Upload a Diagram" %><br>
      <%= f.file_field :diagram, class: "form-control-file", autofocus: true %>
    </div>
    <div class="form-group col-xs-12 col-md-12">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control", autofocus: true, placeholder:"Describe the Offense"  %>
    </div>
    <div class="form-group">
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<!-- options_for_select(['6v6', 'EMO', 'Inbounds']) -->
<!-- options_for_select(['2-3-1', '1-4-1', '2-2-2', '1-3-2', '3-1-2', '3-2-1', '4-2', '3-3', '3-3 Open', '2-2-2 Open']) -->