<p id="notice"><%= notice %></p>

<div class="container">
	<h3 class="text-white">Drills</h3>
	<% if can? :create, Drill %>
    <p><%= link_to 'Create a Drill', new_drill_path %></p>
  <% end %>
	
	<div class="card-deck">
		<% @drills.where(approved: true).each do |drill| %>
			<div class="card text-white bg-dark border-light mb-3" style="max-width: 20rem;">   
				<%= image_tag "no_photo.svg", class: "card-img-top", alt: "Card image cap"%>
		    <div class="card-body">
		      <h4 class="card-title"><%= drill.title %></h4>
		      <p class="card-text"><%= drill.description %></p>
		      <%= link_to 'Read More...', drill, class: "btn btn-primary", style: "margin-bottom:15px;"%>
	      	<% if can? :manage, drill %>
	      		<ul class="list-group list-group-flush text-center">
	            <li class="list-group-item"><%= link_to 'Edit', edit_drill_path(drill) %> |
              <%= link_to 'Destroy', drill, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          <% end %>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted"><%= drill.fundamentals %></small>
		    </div>
		  </div>
		<% end %>
	</div>

</div>