<nav class="navbar navbar-expand-lg tall" id="side-navbar">
	<ul class="nav nav-pills flex-column bg-dark" id="main-nav">
		<%= link_to "Lax Factory", "/", class: "navbar-brand heavy primary-color" %>
	  <% if user_signed_in? %>  
	  	<li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
			<li class="nav-item"><%= link_to "EO Culture", "/EO", class: "nav-link" %></li>
	    <li class="nav-item"><%= link_to "Tenets", tenets_path, class: "nav-link" %></li>
	    <li class="nav-item"><%= link_to "Development Plan", "#", class: "nav-link" %></li>
	    <li class="nav-item"><%= link_to "Coaches' Guide", "#", class: "nav-link" %></li>
	    <li class="nav-item"><%= link_to "Glossary", "#", class: "nav-link" %></li>
	    <li class="nav-item"><%= link_to "Drills", drills_path, class: "nav-link" %></li>
	    <li class="nav-item"><%= link_to "Playbook", "#", class: "nav-link" %></li>
			<li class="nav-item"><%= link_to "Submit a Drill", new_drill_path, class: "nav-link" %></li>
			<% if current_user.admin? %>
        <div id="navAccordionx" data-children=".adminitem">
				  <div class="adminitem">
				    <li class="nav-item"><a class="nav-link" data-toggle="collapse" data-parent="#navAccordionx" href="#navAccordion0" aria-expanded="false" aria-controls="navAccordion0">Admin Actions<span class="caret"></span></a></li>
				    <div id="navAccordion0" class="collapse" role="tabpanel">
				      <p class="mb-3">
		            <li class="nav-item"><%= link_to "New User", new_user_path, class: "nav-link" %></li>
		            <li class="nav-item"><%= link_to "Manage Users", users_path, class: "nav-link" %></li>
		            <li class="nav-item"><%= link_to "Manage Drills", drills_path, class: "nav-link" %></li>
				      </p>
				    </div>
				  </div>
				</div>
      <% end %>
			<div id="navAccordion" data-children=".signinitem">
			  <div class="signinitem">
			    <p class="navbar-text text-white">Signed in as &nbsp<a data-toggle="collapse" data-parent="#navAccordion" href="#navAccordion1" aria-expanded="false" aria-controls="navAccordion1"><%= current_user.username %><span class="caret"></span></a></p>
			    <div id="navAccordion1" class="collapse" role="tabpanel">
		        <li class="nav-item"><%= link_to "Edit profile", edit_user_path(id:current_user.id), class: "nav-link" %></li>
	          <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "nav-link" %></li>
			    </div>
			  </div>
			</div>
		<% end %>
	</ul>
</nav>

