<!DOCTYPE html>
<html>
  <head>
    <title>LaxFactory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!-- Flash Message container -->
<div class="container">
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "row col-lg-8 col-lg-offset-1 alert alert-info first-item", style: "position:fixed;") do %>
      <%= msg %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    <% end %>
  <% end %>
</div>

  <body>
    <%= yield %>
  </body>
  
</html>
